
  body {
    margin: 0;
    height: auto;
    width: 100%;
    background-color: #F0FFF0;
    font-family: Gotham, bold;
    text-align: center;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div{
      margin: 50px auto; /* Margin outside the container */
      padding: 20px; /* Space inside the container */
      max-width: 600px;
  }

  .circle-container {
     font-size: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;

  }

  .fa-circle {
    font-size: 120px;
    color: #008000; 
    margin: 5px; 
    transition: transform 0.3s ease;
  }

  .fa-circle:hover {
    transform: scale(1.5); 
  }

.rubik-lines-regular {
  font-family: "Rubik Lines", serif;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-family: "Rubik Lines", serif;
  font-weight: 400;
  font-style: normal;
  color: #008000
}

  h3{
    font-family: sans-serif;
    margin-bottom: 10px;
  }

  h4{
    font-style: sans serif;
    font-size: 100;
  text-align: justify;
  margin: 0px;
}

p{
  font-family: sans-serif;
  text-align: justify;
}

  iframe {
    width: 600px;
    height: 447px;
    margin: 0 auto;
    background-color: white;
    border-color: gray;
    border-width: 3px;
}

